<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Math</title>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<link rel="icon" href="data:;base64,=">
</head>

<body>
	<div class="main_container">
		<h2>Результаты</h2>
	</div>
	<div class="formuls_container">
		<ol>
			<div class="formula">
				<li>
					\(f(c) * f^{\prime\prime}(c) > 0\)
				</li>
			</div>
			{% for piece in formulas %}
			<div class="formula">
				<li>
					{% for formula in piece %}
					<p>\({{ formula.replace('//', '/')}}\)</p>
					{% endfor %}
				</li>
			</div>
			{% endfor %}
		</ol>
	</div>
</body>

</html>