<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Numerical Methods</title>
	<link rel="stylesheet" href="../static/index.css">
</head>

<body>
	<h1>Калькулятор <span>Численных методов</span></h1>
	<div class="methods__container">
		<a href="{{ url_for('multy_method') }}">
			<div class="method__item">
				<p>Комбинированный метод хорд и касательной</p>
			</div>
		</a>
		<div class="method__item">
			<p>Метод касательной</p>
		</div>
		<div class="method__item">
			<p>Метод хорд</p>
		</div>
	</div>
</body>

</html>