<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Math</title>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<link rel="icon" href="data:;base64,=">
</head>

<body>
	<div class="main_container">
		<h2>Результаты</h2>
	</div>
	<div class="formuls_container">
		<ol>
			<div class="formula">
				<li>\(a \ne 0\) \(ax^2 + bx + c = 0\)</li>
			</div>
			<div class="formula">
				<li>\([\stackrel{+}{0}:\stackrel{-}{0.2}]\bcancel{[\stackrel{-}{0.2}:\stackrel{-}{1}]}\)</li>
			</div>
		</ol>
	</div>
</body>

</html>